<div class="dice-tooltip afod-die-tooltip">

  {{!-- Nombre de la acción --}}
  {{#if attribute_label}}
    <div class="chat-label label-stripe-chat">{{localize attribute_label}}</div>
  {{/if}}

  {{!-- Posición y Efecto --}}
  {{#if position}}
    <div class="chat-label-small label-stripe-chat-small">
      {{localize position_localize}} | {{localize effect_localize}}
      {{#if zeromode}} | 0d{{/if}}
    </div>
  {{/if}}

  {{!-- Resultado: Éxito Crítico --}}
  {{#if (eq roll_status "critical-success")}}
    <div class="die critical-success">{{localize "AFOD.RollCriticalSuccess"}}</div>
    <div class="description">
      <p>{{localize "AFOD.RollDoWithIncreasedEffect"}}</p>
    </div>
  {{/if}}

  {{!-- Resultado: Éxito --}}
  {{#if (eq roll_status "success")}}
    <div class="die success">{{localize "AFOD.RollSuccess"}}</div>
    <div class="description">
      <p>{{localize "AFOD.RollDo"}}</p>
    </div>
  {{/if}}

  {{!-- Resultado: Éxito Parcial --}}
  {{#if (eq roll_status "partial-success")}}
    <div class="die partial-success">{{localize "AFOD.RollPartialSuccess"}}</div>
    <div class="description">
      <p>
        {{#if (eq position "controlled")}}
          {{localize "AFOD.RollPartialSuccessPositionControlled"}}
        {{else if (eq position "risky")}}
          {{localize "AFOD.RollPartialSuccessPositionRisky"}}
        {{else}}
          {{localize "AFOD.RollPartialSuccessPositionDesperate"}}
        {{/if}}
      </p>
    </div>
  {{/if}}

  {{!-- Resultado: Fracaso --}}
  {{#if (eq roll_status "failure")}}
    <div class="die failure">{{localize "AFOD.RollFailure"}}</div>
    <div class="description">
      <p>
        {{#if (eq position "controlled")}}
          {{localize "AFOD.RollFailurePositionControlled"}}
        {{else if (eq position "risky")}}
          {{localize "AFOD.RollFailurePositionRisky"}}
        {{else}}
          {{localize "AFOD.RollFailurePositionDesperate"}}
        {{/if}}
      </p>
    </div>
  {{/if}}

  {{!-- Nota del jugador --}}
  {{#if note}}
    <em class="roll-note">{{note}}</em>
  {{/if}}

  {{!-- Dados --}}
  <ol class="dice-rolls">
    {{#each this.rolls}}
      {{#if this.result}}
        <li class="roll die d6"
          {{#if (eq this.result 6)}} style="color: #5a7a4a; font-weight:bold;"
          {{else if (lteq this.result 3)}} style="color: #8b2c1a;"
          {{/if}}>
          {{this.result}}
        </li>
      {{else}}
        <li class="roll die d6">{{this.roll}}</li>
      {{/if}}
    {{/each}}
    {{#if @root.method}}
      {{#unless (eq @root.method.type "mersenne")}}
        <li class="roll method" data-tooltip="{{localize @root.method.label}}">{{{@root.method.icon}}}</li>
      {{/unless}}
    {{/if}}
  </ol>

</div>
