<form class="{{cssClass}} a-fistful-of-darkness sheet item {{itemType}}" autocomplete="off">
  <header class="sheet-header">
    <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'AFOD.Name'}}" /></h1>
      <span class="item-type-label">{{localize "TYPES.Item.achievement"}}</span>
    </div>
  </header>
  <section class="sheet-body">
    <div class="form-group">
      <label>{{localize "AFOD.Description"}}</label>
      {{#if isEditable}}
          <textarea name="system.description" class="notes-textarea">{{system.description}}</textarea>
        {{else}}
          <div class="notes-view">{{{enrichedDescription}}}</div>
        {{/if}}
    </div>
    <div class="form-group">
      <label>{{localize "AFOD.Effect"}}</label>
      <textarea name="system.effect" rows="3">{{system.effect}}</textarea>
    </div>
    <div class="form-fields">
      <div class="form-group">
        <label>{{localize "AFOD.AchievementType"}}</label>
        <select name="system.type">
          <option value="neutral" {{#if (eq system.type "neutral")}}selected{{/if}}>{{localize "AFOD.AchievementNeutral"}}</option>
          <option value="light"   {{#if (eq system.type "light")}}selected{{/if}}>{{localize "AFOD.AchievementLight"}}</option>
          <option value="dark"    {{#if (eq system.type "dark")}}selected{{/if}}>{{localize "AFOD.AchievementDark"}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>{{localize "AFOD.Claimed"}}</label>
        <input type="checkbox" name="system.claimed" {{checked system.claimed}} />
      </div>
    </div>
  </section>
</form>
